{{!-- 類別下拉 --}}
<div class="container d-flex justify-content-center">
  <div>
    <form action="/filter" method="POST">
    <label for="category">類別</label>
    <select name="filterCategory" id="filterCategory" onchange="form.submit()">
      <option disabled selected value="">請下拉</option>

      {{#each categories}}
      <option name="{{ this.name }}" value="{{ this.name }}">{{ this.name }}</option>
      {{/each}}
    </select>
    </form>
  </div>
</div>

{{!-- 顯示總金額 --}}
<div class="container row d-flex justify-content-center">
  <div>總金額:&nbsp;</div>
  <h3>NTD&nbsp;{{totalAmount}}</h3>
</div>

{{!-- 無清單跳出視窗 --}}
{{#if records.noRecord}}
<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">提醒</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>目前沒有支出紀錄</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
      </div>
    </div>
  </div>
</div>
{{/if}}

{{!-- 清單 --}}
<div class="container">
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">類別</th>
        <th scope="col">名稱</th>
        <th scope="col">日期</th>
        <th scope="col">花費</th>
        <th scope="col"></th>
      </tr>
    </thead>
    
    <tbody>
      {{#each records}}
      <tr>
        <th scope="row">{{{this.category}}}</th>
        <td>{{ this.name }}</td>
        <td>{{this.date}}</td>
        <td>{{this.amount}}</td>
        <td>
          <div class="container row ">
            <a class="btn btn-outline-primary" href="/record/{{this._id}}/edit" role="button">修改</a>
            <form action="/record/{{this._id}}?_method=DELETE" method="POST" >
              <button class="btn btn-outline-danger ml-2" type="submit">刪除</button>
            </form>
          </div>
           
        </td>
      </tr>
      {{/each}}
    </tbody>

  </table>
  </div>

{{!-- 底層選項 --}}
<div class="container row my-5 d-flex justify-content-center">
  <div>
    <a class="btn btn-success" href="/record/new" role="button">新增支出</a>
  </div>
  <div class="ml-2">
    <a class="btn btn-primary" href="/" role="button">全部清單</a>
  </div>
</div>