<div class="container">
  <ul class="list-group">
    {{#each records}}

    <li class="list-group-item">
      <div class="row">
        {{{this.category}}}
        <h4>{{ this.name }}</h4>
        <h4>{{this.date}}</h4>
        <h4>金額:{{this.amount}}</h4>
        <div class="col-auto ">
          <a class="btn btn-primary" href="/record/{{ this._id }}/edit" role="button">修改</a>
        </div>
      </div>
    </li>

    {{/each}}
  </ul>

  <a class="btn btn-primary" href="/record/new" role="button">新增支出</a>
</div>