<div class="container">
  <ul class="list-group">
    {{#each expenses}}
    <div class="row">
      <li class="list-group-item">
        {{this.name}}
        {{this.date}}
        {{this.category}}
        {{this.amount}}
      </li>
    </div>
    <div class="col-auto">
      <a class="btn btn-primary" href="/record/{{ this._id }}/edit" role="button">修改</a>
    </div>
    {{/each}}
  </ul>

  <a class="btn btn-primary" href="/record/new" role="button">新增支出</a>
</div>